html {
    margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header a {
    text-decoration: inherit!important;
    color: initial!important;
}

.light-uw-red-bg {
    background-color: #DD4444;
}

.uw-red-bg {
    background-color: #E15454
}

.uw-red-text {
    color: #DD4444;
}

.light-uw-red-text {
    color: #F26565;
}